.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--header-color);
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.header_logo {
    border-radius: 10%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 5;
    width: 50px;
    height: 50px;
}

.menu_list>li {
    position: relative;
}

.menu_item {
    display: flex;
    flex-direction: column;
    color: var(--text_header-color);
    font-size: 12px;
    align-items: center;
}

.menu_item_logo {
    border-radius: 10%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 5;
    width: 50px;
    height: 50px;
}


.menu_list>li:hover,
.menu_list>li:hover .menu_item_text {
    background-color: var(--menu_button_active-color);
    color: var(--header-color);
    border-radius: 10px;
}

/*.menu_sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--menu_button_active-color);
    padding: 5px 0px 5px 0px;
    min-width: 220px;
}
*/
/*
.menu_sub-list li {
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.menu_sub-list li:hover {
    background-color: var(--header-color);
}

.menu_sub-item {
    color: #fff;
}
*/

@media (min-width: 767px) {
    .menu_list {
        display: flex;
        align-items: center;
    }

    .menu_list>li {
        margin: 10px 20px;
    }

    .menu_sub-list {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translate(0px, 3px);
        transition: all 0.3s ease 0s;
    }

    .menu_list>li:hover .menu_sub-list {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
        pointer-events: all;
    }
}

@media (max-width: 767px) {
    .menu_icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--text_header-color);
    }

    .menu_icon::before,
    .menu_icon::after {
        content: "";
    }

    .menu_icon::before {
        top: 0;
    }

    .menu_icon::after {
        bottom: 0;
    }

    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu_body {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.9);
        padding: 100px 30px 30px 30px;
        transition: top 0.3s ease 0s;
        overflow: auto;
    }

    .menu_body._active {
        top: 0;
    }

    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: var(--header-color);
        z-index: 5;
    }

    .menu_list>li {
        flex-wrap: wrap;
    }

    .menu_list>li:last-child {
        margin-bottom: 0;
    }

    .menu_list>li:hover .menu_sub-list {
        display: block;
    }

    .menu_item {
        font-size: 20px;
        padding: 8px 10px;
    }

    .menu_sub-list {
        position: relative;
        flex: 1 1 100%;
        display: none;
    }

    .menu_sub-item {
        font-size: 16px;
    }
}