{% extends 'blog/main.html' %}

{% block main_section %}
    <div>
        <script>
         let timeout;
             function resetTimer() {
                            // Очищаем предыдущий таймер
                            clearTimeout(timeout);

                            // Устанавливаем новый таймер на 15 минут
                            timeout = setTimeout(() => {
                            location.reload(); // Обновляем страницу после 15 минут бездействия
                            console.log("Скрипт 2 завершил работу");
                         }, 15 * 60 * 1000);
                    }

                // Событие вызывается при любом действии пользователя, например, щелчок мыши или нажатие клавиши
                document.addEventListener('mousemove', resetTimer);
                document.addEventListener('keypress', resetTimer);

                // Инициализация таймера
                resetTimer();
     </script>
    {% for post in news %}
        <div class="alert alert-light">

            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <span class="text-muted"><b>Автор:</b> {{ post.author }}</span><br>
            <span class="text-muted"><b>Дата:</b> {{ post.data|date:'j F Y, время(общее): H:i:s' }}</span>
        </div>
    {% endfor %}
    </div>
{% endblock main_section %}