{% extends 'blog/main.html' %}
{% block main_section %}
<div class="post_item">
<H1>Написать пост</H1>
<form method="post">
    {% csrf_token %}
    <div class="post_header">
        <br>{{ form.title }}
    </div>
    <div class="post_container">
        <br>{{ form.text }}<br><br>
    <div class="post_container">
        <br>{{ form.img }}<br><br>
    <span>
        {{error}}
    </span>
    </div>
    <button class="button-success" type="submit"><H3>Отправить</H3></button>
</form>
</div>
{% endblock main_section %}