<!doctype html>
<html lang="en">
    <head>
        <script>
            console.log("Скрипт 1 отработал");
        </script>
        <meta charset="UTF-8">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <a class="navbar-brand" href="/">Болото</a>
            <button aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-arget="#navbarsExample09" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/boloto">Болото</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Написать пост</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">{{request.user}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Создать аккаунт</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main class="container">

            <div class="row">
                <div class="col-md-8">

                    {% block main_section %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>