{% extends 'blog/main.html' %}
{% block main_section %}

<div class="post_item">
    <div class="post_header">
        <div class="post_logo"></div>
         <a href="/profile/{{ post.author }}/">
        <div class="post_container_author">
            <b>Автор:</b> {{ post.author }}
        </div>
         </a>
        <span>
                {% if post.parent_post is not none %}
                     <a href="/post/{{ post.parent_post.id_post }}/">
                            <div class="post_title">Ответ на пост {{ post.parent_post.author }}</div>
                     </a>
                {% endif %}
       </span>
    </div>
    <div class="post_container">
            <div class="post_container_content">{{ post.text }}</div>
            <span>
                 {% if post.img %}
                    {% if post.img.url|filesizeformat %}
                        <img src="{{ post.img.url }}"  width="800" height="600" alt="lorem">
                    {% endif %}
                {% endif %}
            </span>
            <div class="post_container_date">
                <b>Дата:</b> {{ post.date|date:'j F Y, время(общее): H:i:s' }}
            </div>
        </div>
</div>

<span>
    <a href="/answer/{{ post.id_post }}/">
                     ОТВЕТИТЬ
    </a>
</span>


{% for post in children %}
<div class="post_item">
    <div class="post_header">
        <div class="post_logo"></div>
         <a href="/profile/{{ post.author }}/">
        <div class="post_container_author">
            <b>Автор:</b> {{ post.author }}
        </div>
         </a>
        <span>
                {% if post.title is not none %}
                    <div class="post_title">{{ post.title }}</div>
                {% endif %}
       </span>

        <span>
                 <a href="/post/{{ post.id_post }}/">
                     ОТКРЫТЬ ПОСТ
                 </a>
        </span>
    </div>
    <div class="post_container">
            <div class="post_container_content">{{ post.text }}</div>
            <span>
                 {% if post.img %}
                    {% if post.img.url|filesizeformat %}
                        <img src="{{ post.img.url }}"  width="800" height="600" alt="lorem">
                    {% endif %}
                {% endif %}
            </span>
            <div class="post_container_date">
                <b>Дата:</b> {{ post.date|date:'j F Y, время(общее): H:i:s' }}
            </div>
        </div>
</div>
{% endfor %}


{% endblock main_section %}