{% extends 'blog/main.html' %}
{% block main_section %}
<div class="profile_header">

    <div class="header_container">
        {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
        {% else %}
        <div class="header_logo"></div>
        {% endif %}
        <h1>{{ user.username }}'s Profile</h1>
    </div>
</div>

<br> Био <br>
{% if profile.bio %}
<p>{{ profile.bio }}</p>
{% endif %}

{% for post in posts %}
<div class="post_item">
    <div class="post_header">
        <div class="post_logo"></div>
        <div class="post_container_author">
            <b>Автор:</b> {{ post.author }}
        </div>
        <span>
            <div class="post_title">{{ post.title }}</div>
        </span>
    </div>
    <div class="post_container">
        <div class="post_container_content">{{ post.text }}</div>
        <div class="post_container_date">
            <b>Дата:</b> {{ post.data|date:'j F Y, время(общее): H:i:s' }}
        </div>
    </div>
</div>
{% endfor %}

{% endblock main_section %}