{% extends 'blog/main.html' %}
{% block main_section %}
<div class="profile_header">

    <div class="header_container">
        {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
        {% else %}
        <div class="header_logo"></div>
        {% endif %}
        <h1>Профиль {{ user.username }}</h1>
    </div>
</div>

<br> Био <br>
{% if profile.bio %}
<p>{{ profile.bio }}</p>
{% endif %}

{% for post in posts %}
<div class="post_item">
    <div class="post_header">
        <div class="post_logo"></div>
        <div class="post_container_author">
            <b>Автор:</b> {{ post.author }}
        </div>
        <span>
                {% if post.title is not none %}
                    <div class="post_title">{{ post.title }}</div>
                {% endif %}
       </span>
    </div>
    <div class="post_container">
            <div class="post_container_content">{{ post.text }}</div>
            <span>
                 {% if post.img %}
                    {% if post.img.url|filesizeformat %}
                        <img src="{{ post.img.url }}"  width="800" height="600" alt="lorem">
                    {% endif %}
                {% endif %}
            </span>
            <div class="post_container_date">
                <b>Дата:</b> {{ post.date|date:'j F Y, время(общее): H:i:s' }}
            </div>
        </div>
</div>
{% endfor %}

{% endblock main_section %}
