 {% extends 'blog/main.html' %}
        {% block main_section %}
            <h2>Войти в аккаунт</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password }}<br>
                <span>
                    {{error}}
                </span>
                <button class="button-success" type="submit">Отправить</button>
            </form>
        {% endblock main_section %}