{% extends 'blog/main.html' %}
{% block main_section %}
    <div class="singup-form">
        <h2 class="reg">Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            <div class="singup-form__item">
                <label for="username">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div class="singup-form__item">
                <label for="password">Почта</label>
                {{ form.email }}
            </div>
            <div class="singup-form__item">
                <label for="password">Пароль</label>
                {{ form.password }}
            </div>
            <span class="singup-form__error">
                {{error}}
            </span>
            <button class="button-success" class="button-css" type="submit">Регистрация</button>
        </form>
        <h3 class="ent"><a href="{% url 'login' %}">Уже есть аккаунт</a></h3>
    </div>
{% endblock main_section %}