.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--back-color);
    height: 100%;
}
.contacts h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
.contacts h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: var(--text-color);
}
.contacts h3 a {
    text-decoration: none;
    color: var(--text-color);
}
.contacts h3 a i {
    margin-left: 5px;
}
